body{
    background-image: url(Wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    



}

h1{
    
    color: rgb(48, 204, 251);
}
ul{
    color: red;
    border: 3px solid green;
}

p{
    background-color: aqua;
}