body{
    background-image: url(Wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    



}

h1{
    
    color: red;
}
ul{
    color: red;
    border: 3px solid green;
}